<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>deltur.no admin - Turer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tuner Admin, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Romel Panahon">
	<link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='img/favicon.png') }}' />

    <link href="{{ url_for('static', filename='css/admin/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
     
      }
      .sidebar-nav {
        padding: 9px 0;
      }
     
    </style>

    <link href="{{ url_for('static', filename='css/admin/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/admin/style.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>		
	
  </head>

  <body>

  	<!-- Placeholder for hashes being edited -->
    <div id="hash-tilejson"></div>

  	<div id="deleteHashModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Slette sammensatt kart</h3>
                </div>
                <div id="deleteHashBody" class="modal-body">

                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Avbryt</a>
                </div>
            </div>
        </div>
    </div>	

  	<div id="deleteLineModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Slette linje</h3>
                </div>
                <div id="deleteLineBody" class="modal-body">

                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Avbryt</a>
                </div>
            </div>
        </div>
    </div>	

  	<div id="deletePointModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Slette punkt</h3>
                </div>
                <div id="deletePointBody" class="modal-body">

                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Avbryt</a>
                </div>
            </div>
        </div>
    </div>	

  	<div id="embedModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Embed</h3>
                </div>
                <div id="embedBody" class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
                </div>
            </div>
        </div>
    </div>

  	<div id="markerStyleEditor" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3>Editor</h3>
             </div>
             <div class="modal-body">
               
                 <textarea id="marker-style" class="form-control" rows="7" cols="40" style="font-size: 16px; width: 500px; height: 150px;">
                </textarea>

                <p><a href="http://localhost:5000/info/api#punkt_param" target="_new">Beskrivelse av feltene</a></p>

             </div>
             <div class="modal-footer">
               <a href="#" id="lagrePopup" data-dismiss="modal" class="btn btn-success" onClick="savePointStyle();">Lagre</a>
             </div>
           </div>    
        </div>
    </div> 


    <div id="lineStyleEditor" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3>Editor</h3>
             </div>
             <div class="modal-body">
               
                 <textarea id="line-style" class="form-control" rows="7" cols="40" style="font-size: 16px; width: 500px; height: 150px;">
                </textarea>

                <p><a href="http://localhost:5000/info/api#linje_param" target="_new">Beskrivelse av feltene</a></p>

             </div>
             <div class="modal-footer">
               <a href="#" id="lagrePopup" data-dismiss="modal" class="btn btn-success" onClick="saveLineStyle();">Lagre</a>
             </div>
           </div>    
        </div>
    </div> 

    <div id="tilejsonEditor" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3>Tilejson editor</h3>
             </div>
             <div class="modal-body">
               
               	<b>Vanlig Tilejson</b>
                 <textarea id="tilejsonTextarea" class="form-control" rows="7" cols="40" style="font-size: 16px; width: 500px; height: 150px;">
                </textarea>

                <b>Tilejson for høyoppløslige skjermer</b>
                 <textarea id="tilejsonRetinaTextarea" class="form-control" rows="7" cols="40" style="font-size: 16px; width: 500px; height: 150px;">
                </textarea>

                <p><a href="https://www.mapbox.com/developers/tilejson/" target="_new">Beskrivelse av Tilejson</a></p>

             </div>
             <div class="modal-footer">
               <a href="#" id="lagrePopup" data-dismiss="modal" class="btn btn-success" onClick="saveTilejson();">Lagre</a>
             </div>
           </div>    
        </div>
    </div> 
 
   <div class="navbar">
	<div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">deltur.no<span> admin</span></a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse pull-right">
	  
		    <ul class="nav nav-pills">
			  <!--li class="dropdown ">
				<a class="dropdown-toggle"  data-toggle="dropdown" href="#"> <span class="badge badge-important">4</span> Beskjeder <b class="caret"></b></a>
					<ul class="dropdown-menu msg-list">
						<li><a href="#"><span>Romel</span>  Sample message in here</a></li>
						<li><a href="#"><span>Lito</span> Sample message in here</a></li>
						<li class="unread-msg"><a href="#"><span>Cyrus</span>This is Unread message</a></li>
						<li><a href="#"><span>Dondie</span>  Sample message in here</a></li>						
						<li class="seeall"><a href="#"> See All  </a></li>
					</ul>
			  </li-->
			  {% if current_user.is_authenticated() %}
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{ current_user.email }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('home') }}">Del ny tur</a></li>
						<li><a href="{{ url_for('security.logout') }}">Logg ut</a></li>
					</ul>
			  </li>
			  {% endif %}
			  
		    </ul>
        <!-- .nav, .navbar-search, .navbar-form, etc -->
		
      </div>
 
    </div>
  </div>
</div>        

   
   
   <!-- content -->
	
      <div class="container-fluid">
      <div class="row-fluid">
	  
	     <!-- Sidebar -->
        <div class="span3">
			<ul id="nav">
			  <li><a href="{{ url_for('adminIndex') }}"><i class="fa fa-bar-chart-o  fa-2x icon-style"></i> Statistikk</a></li>
              <li><a class="active" href="{{ url_for('adminTrips') }}"><i class="fa fa-picture-o fa-2x icon-style"></i> Turer</a></li>
              <li><a href="{{ url_for('adminSettings') }}"><i class="fa fa-wrench fa-2x icon-style"></i>Innstillinger</a></li>
              <li><a href="{{ url_for('adminInvoice') }}"><i class="fa fa-dollar fa-2x icon-style"></i>Abbonement</a></li>
			</ul>	
        </div><!--/span-->
		<!--   /Sidebar -->     

		<!-- middle-->
    <div class="span9">	
		<!--breadcrumb-->
		<div class="row-fluid">		
            <div class="span12">
				<ul class="breadcrumb">
					<li><a href="#">Hjem</a> <span class="divider">/</span></li>
					<li class="active">Turer</li>
				</ul>
			</div><!--/span-->
        </div><!--/row-->
		<!--/breadcrumb-->
			
			
		
		
		
		
		<!-- Select All table -->
		<div class="row-fluid">		
            <div class="span12">

        	    <ul class="nav nav-tabs">
				    <li><a href="#kart" data-toggle="tab">Kart</a></li>
				    <li><a href="#linjer" data-toggle="tab">Linjer</a></li>
				    <li><a href="#punkter" data-toggle="tab">Markører</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="kart">
						<p>Et kart består av en rekke linjer og markører. Hvis du deler en tur med flere markører/linjer så blir det automatisk laget et kart for disse elementene.</p>
						<div class="widget">
						<div class="widget-header">
							<i class="fa fa-picture-o icon-style"></i>
							<h3>Kart</h3>
						</div>
						<div class="widget-content nopadding">
							<table id="hashes" class="table table-bordered table-striped" >
								  <caption></caption>
								  <thead>
									<tr>
									  <th class="col-md-1">Hash</th>
									  <th>Sammensatt av</th>
									  <th>Opprettet</th>
									  <th>Funksjoner</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>						
						</div><!--/widget-->
					</div>
					<div class="tab-pane" id="linjer">
						<div class="widget">
						<div class="widget-header">
							<i class="fa fa-minus icon-style"></i>
							<h3>Linjer</h3>
						</div>
						<div class="widget-content nopadding">
							<table id="lines" class="table table-bordered table-striped" >
								  <caption></caption>
								  <thead>
									<tr>
									  <th>Id</th>
									  <th>Tittel</th>
									  <th>Beskrivelse</th>
									  <th>Opprettet</th>
									  <th>Funksjoner</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>						
						</div><!--/widget-->
					</div>
					<div class="tab-pane" id="punkter">
						<div class="widget">
						<div class="widget-header">
							<i class="fa fa-circle icon-style"></i>
							<h3>Markører</h3>
						</div>
						<div class="widget-content nopadding">
							<table id="points" class="table table-bordered table-striped" >
								  <caption></caption>
								  <thead>
									<tr>
									  <th>Id</th>
									  <th>Tittel</th>
									  <th>Beskrivelse</th>
									  <th>Opprettet</th>
									  <th>Funksjoner</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>						
						</div><!--/widget-->
					</div>
				</div>
			
				
			</div><!--/span-->
        </div><!--/row-->
		<!-- /Select All table-->


		
			
			
		
			
			
			
			
			
	</div>	<!--end of span9 -->
		
    </div><!--/row-->

    </div><!--/.fluid-container-->
     

	<!-- footer -->
	 <footer>
	  <div class="container">
		<div class="row-fluid">
			<div class="span6">	
				<p><a href="http://www.kresendo.no">&copy; Kresendo 2014</a> </p>
			</div>
			
		</div>
		</div>
      </footer>

     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>	
	<script src="{{ url_for('static', filename='js/admin/bootstrap-dropdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/admin/bootstrap-collapse.js') }}"></script>
	<script src="{{ url_for('static', filename='js/admin/bootstrap-tooltip.js') }}"></script>
	<script src="{{ url_for('static', filename='js/admin/bootstrap-modal.js') }}"></script>
	<script src="{{ url_for('static', filename='js/admin/bootstrap-tab.js') }}"></script>
	<script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
	<script src="{{ url_for('static', filename='js/lib/leaflet.awesome-markers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/delturPoint.js') }}"></script>
	<script src="{{ url_for('static', filename='js/delturLine.js') }}"></script>

	
	
	<!-- tooltip -->
	<script>
		var auth_token = "{{config['TOKEN']}}";

		$('a,.btn').tooltip('hide')
		renderTables();

		 $(function () {
			$('#myTab a:last').tab('show');
		})


		function renderTables() {

			// Clear all tables
			$("#hashes tbody").remove();
			$("#lines tbody").remove();
			$("#points tbody").remove();

			// Populate tables

			$.getJSON( "/hashes", function( json ) {
				

				$.each(json, function(i, data){

					
					var edit = '&nbsp;<a class="btn btn-small" href="javascript:void(0)" onClick="opendeleteHashModal(&quot;'+data.hash+'&quot;)" data-trigger="hover" data-placement="top" data-original-title="Slett"><i class="fa fa-eraser fa-lg"></i></a>';
					edit += '&nbsp;<a class="btn btn-small" href="javascript:void(0)" onClick="openEmbedModal(&quot;'+data.hash+'&quot;)" data-trigger="hover" data-placement="top" data-original-title="Embedkode"><i class="fa fa-map-marker fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" href="/'+data.hash+'/embed"  data-trigger="hover" data-placement="top" data-original-title="Vis i embedversjon"><i class="fa fa-picture-o fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" onClick="openTilejsonEditor(&quot;'+data.hash+'&quot;)" href="javascript:void(0)" data-trigger="hover" data-placement="top" data-original-title="Endre bakgrunnskart"><i class="fa fa-edit fa-lg"></i></a>'

					var ids = "";
					var idArray = data.ids.split("+");
					$.each(idArray, function(index, id){ 
						ids += "<a href='/"+id+"'>" +id + "</a>+"
					});
					ids = ids.substring(0, ids.length - 1); // Delete last pluss sign

					$("#hashes").append("<tr><td><a href='/"+data.hash+"'>"+data.hash+"</a></td><td>"+ids+"</td><td>"+data.date+"</td><td>"+edit+"</td></tr>");

				});
			});

			$.getJSON( "/lines", function( json ) {
				

				$.each(json, function(i, data){

					var edit = '&nbsp;<a class="btn btn-small" onClick="openLineStyleEditor('+data.id+')" href="javascript:void(0)" data-trigger="hover" data-placement="top" data-original-title="Endre utseende"><i class="fa fa-edit fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" href="javascript:void(0)" onClick="opendeleteLineModal('+data.id+')" data-trigger="hover" data-placement="top" data-original-title="Slett"><i class="fa fa-eraser fa-lg"></i></a>';
					edit += '&nbsp;<a class="btn btn-small" href="javascript:void(0)" onClick="openEmbedModal('+data.id+')" data-trigger="hover" data-placement="top" data-original-title="Embedkode"><i class="fa fa-map-marker fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" href="/'+data.id+'/embed"  data-trigger="hover" data-placement="top" data-original-title="Vis i embedversjon"><i class="fa fa-picture-o fa-lg"></i></a>'
					edit += '&nbsp;<a  class="btn btn-small" href="/'+data.id+'/geojson" data-trigger="hover" data-placement="top" data-original-title="Last ned turen"><i class="fa fa-arrow-down fa-lg"></i></a>'

					$("#lines").append("<tr><td><a href='/"+data.id+"'>"+data.id+"</a></td><td>"+data.title+"</td><td>"+data.description+"</td><td>"+data.date+"</td><td>"+edit+"</td></tr>");

				});
			});

			$.getJSON( "/points", function( json ) {
				$.each(json, function(i, data){

					var edit = '&nbsp;<a class="btn btn-small" onClick="openPointStyleEditor('+data.id+')" href="javascript:void(0)" data-trigger="hover" data-placement="top" data-original-title="Endre utseende"><i class="fa fa-edit fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" href="javascript:void(0)" onClick="opendeletePointModal('+data.id+')" data-trigger="hover" data-placement="top" data-original-title="Slett"><i class="fa fa-eraser fa-lg"></i></a>';
					edit += '&nbsp;<a class="btn btn-small" href="javascript:void(0)" onClick="openEmbedModal('+data.id+')" data-trigger="hover" data-placement="top" data-original-title="Embedkode"><i class="fa fa-map-marker fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" href="/'+data.id+'/embed"  data-trigger="hover" data-placement="top" data-original-title="Vis i embedversjon"><i class="fa fa-picture-o fa-lg"></i></a>'
					edit += '&nbsp;<a class="btn btn-small" href="/'+data.id+'/geojson" data-trigger="hover" data-placement="top" data-original-title="Last ned turen"><i class="fa fa-arrow-down fa-lg"></i></a>'


					$("#points").append("<tr><td><a href='/"+data.id+"'>"+data.id+"</a></td><td>"+data.title+"</td><td>"+data.description+"</td><td>"+data.date+"</td><td>"+edit+"</td></tr>");

				});
				
				// Activate tooltip
				$('.btn').tooltip();

			});

	
		}
		


		function deleteFeature(id) {
			$('#deleteLineModal').modal("hide");
			$('#deletePointModal').modal("hide");
			$.ajax({
			    url: '/' + id,
			    type: 'DELETE',
			    success: function(result) {
			        renderTables();
			    }
			});
		}


		function deleteHash(hash, cascade) {
			$('#deleteHashModal').modal("hide");
			$.ajax({
			    url: '/' + hash + '?cascade=' + cascade,
			    type: 'DELETE',
			    success: function(result) {
			        renderTables();
			    }
			});
		}


		function openTilejsonEditor(hash) {

			$('#hash-tilejson').html(hash);

			$.getJSON( "/"+hash+"/tilejson.json" , function( json ) {
				if(json != null) {
					// Update textarea with json data
		        	$('#tilejsonTextarea').val(JSON.stringify(json, undefined, 2));
				}
				else {
					$('#tilejsonTextarea').val("");
				}
				

		        $.getJSON( "/"+hash+"/tilejson.retina.json" , function( json ) {
		        	if(json != null) {
						// Update textarea with json data
			        	$('#tilejsonRetinaTextarea').val(JSON.stringify(json, undefined, 2));
					}
					else {
						$('#tilejsonRetinaTextarea').val("");
					}

					// Open modal
					$('#tilejsonEditor').modal("show");
	        	});
        	});
			
		}

		function saveTilejson(hash) {
			$.ajax({
			    url: "/"+$('#hash-tilejson').html()+"/tilejson.json",
			    type: 'PUT',
			    data: $('#tilejsonTextarea').val(),
			    contentType: "application/json",
			    success: function(result) {
			        
			    }
			});

			$.ajax({
			    url: "/"+$('#hash-tilejson').html()+"/tilejson.retina.json",
			    type: 'PUT',
			    data: $('#tilejsonRetinaTextarea').val(),
			    contentType: "application/json",
			    success: function(result) {
			        
			    }
			});

		}

        function opendeletePointModal(id) {
			$('#deletePointBody').html('<p>Ønsker du virkelig å slette dette punktet?</p><button type="button" onClick="deleteFeature('+id+');" class="btn btn-danger">Ja, slett punktet</button>');

			// Open modal
			$('#deletePointModal').modal("show");
		}

		function opendeleteLineModal(id) {
			$('#deleteLineBody').html('<p>Ønsker du virkelig å slette denne linjen?</p><button type="button" onClick="deleteFeature('+id+');" class="btn btn-danger">Ja, slett linjen</button>');

			// Open modal
			$('#deleteLineModal').modal("show");
		}

		function opendeleteHashModal(hash) {
			$('#deleteHashBody').html('<p>Ønsker du virkelig å slette dette kartet? <p>Merk at alle linjer og markører som kartet består av vil ikke bli slettet.</p>  <!--Du kan velge å kun slette det sammensatte kartet. Eller slette både det sammensatte kartet og linjer/markører som dette kartet består av. --></p><button type="button" onClick="deleteHash(&quot;'+hash+'&quot;, false);" class="btn btn-danger">Slett kartet</button>&nbsp;<!--button type="button" onClick="deleteHash(&quot;'+hash+'&quot;, true);" class="btn btn-danger">Slett kartet og linjer/markører</button-->');

			// Open modal
			$('#deleteHashModal').modal("show");
		}

		function openEmbedModal(id) {
			$('#embedBody').html('<p>Kopier følgende kode for å legge til denne turen på din nettside:</p><pre>&lt;iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://beta.deltur.no/'+id+'/embed">&lt;/iframe&gt;</pre>');

			// Open modal
			$('#embedModal').modal("show");
		}
			

		var point;
		function openPointStyleEditor(id) {

			{% if current_user.plan=="pro" or current_user.plan=="expert" %}

		        // Create new line object
	            point = new delturPoint();

	            // Init line
	            point.initWithId(id);

	            var interval = setInterval(function(){
		            if(point.getStatus() === 1) {
		            	// Update textarea with json data
				        $('#marker-style').val(JSON.stringify(point.getStyle(), undefined, 2));

		                 // Open modal
				        $('#markerStyleEditor').modal("show");

		                // Stop interval
		                clearInterval(interval);
	            	}
	        	},500);
	        {% else %} 

            	alert("Not allowed");

        	{% endif %}
	        
	    }
	    function savePointStyle() {
	        point.setStyle(JSON.parse($('#marker-style').val()));
	        renderTables(); // In case user changes title/description
	    }



	    var line;
		function openLineStyleEditor(id) {
			{% if current_user.plan=="pro" or current_user.plan=="expert" %}

		        // Create new line object
	            line = new delturLine();

	            // Init line
	            line.initWithId(id);

	            var interval = setInterval(function(){
		            if(line.getStatus() === 1) {
		            	// Update textarea with json data
				        $('#line-style').val(JSON.stringify(line.getStyle(), undefined, 2));

		                 // Open modal
				        $('#lineStyleEditor').modal("show");

		                // Stop interval
		                clearInterval(interval);
	            	}
	        	},500);
	        {% else %} 

            	alert("Not allowed");

        	{% endif %}

	    }
		function saveLineStyle() {
	        line.setStyle(JSON.parse($('#line-style').val()));
	        renderTables(); // In case user changes title/description
	    }



	    

		

	</script>
	
  </body>
</html>
