
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>deltur.no</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--link href='http://fonts.googleapis.com/css?family=Alegreya+SC:700,400italic' rel='stylesheet' type='text/css' /-->
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/advanced/custom.css') }}">

   
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">

    <!--script src='{{ url_for('static', filename='js/mapbox.js') }}'></script-->
    <!--script src='{{ url_for('static', filename='js/leaflet.draw.js') }}'></script-->
    <!--link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' /-->
    <!--link href='{{ url_for('static', filename='css/mapbox.css') }}' rel='stylesheet' /-->
    <!--link href='{{ url_for('static', filename='css/leaflet.draw.css') }}' rel='stylesheet' /-->

    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}"  />


  <script src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modernizr.custom.97074.js') }}"></script>


  <script type="text/javascript" src="{{ url_for('static', filename='js/filepicker.js') }}"></script>   
  <script type="text/javascript" src="{{ url_for('static', filename='js/spin.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/miniNotification.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/leaflet.awesome-markers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/gpx.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hint.min.css') }}">

   
   <script>
   
       filepicker.setKey('AK2S92lIJQxSOTwf0nI6Uz');
       
       
       var uploadFile; // Store the URL to the file uploaded
  
  
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-40003995-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
         
       </script>

    <script type="text/javascript">

        // Set up dynamic variables used in delturMap.js
        var tileJsonSkikart = '{{ url_for('static', filename='mapconfig/skikart.json') }}';
        var tileJsonSkikartHighdef = '{{ url_for('static', filename='mapconfig/skikart_highdef.json') }}';
        var tileJsonTurkart = '{{ url_for('static', filename='mapconfig/turkart.json') }}';
        var tileJsonTurkartHighdef = '{{ url_for('static', filename='mapconfig/turkart_highdef.json') }}';
        var tileJsonTopokart = '{{ url_for('static', filename='mapconfig/topokart.json') }}';
        var tileJsonTopokartHighdef = '{{ url_for('static', filename='mapconfig/topokart_highdef.json') }}';

    </script>

    
    

    <script src="{{ url_for('static', filename='js/delturLine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delturPoint.js') }}"></script>
   
   
   
  </head>
  
  
<body>

    <!-- Placeholder for images used in pop up -->
    <div id="currentImg"></div>

    <!-- Placeholder for the current marker being edited -->
    <div id="currentMarker"></div>
      
      <div id="imageNotification">
        <p>Klikk i kartet hvor bildet er tatt. </p>
      </div>

       <div id="termsModal" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <a class="close" data-dismiss="modal" >&times;</a>
                   <h3>deltur.no - Kartrettigheter</h3>
                 </div>
                 <div class="modal-body">
                  <p>
                      Turkompisen baserer seg hovedsakelig på data fra <a target="_blank" href="http://osm.org">© OpenStreetMap</a>.

                  <p>
                  </p>
                      I tillegg finner du data fra <a target="_blank" href="http://kartverket.no">© Kartverket</a> og <a target="_blank" href="http://skogoglandskap.no">Skog og landskap</a>. 
                  </p>
                          
                       
                  </div>  
                 <div class="modal-footer">
                   <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
               </div>
             </div>
          </div>
    </div>
      
      <div id="mobileModal" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <a class="close" data-dismiss="modal" >&times;</a>
                   <h3>deltur.no - Public domain</h3>
                 </div>
                 <div class="modal-body">
                  <p>
                      All data som lastes opp til deltur.no er i såkalt <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.no">public domain</a> . Det betyr at alle fritt kan gjenbruke dataene, endre de og republisere de. 
                  </p>
                          
                  <!--p>
                      Faktisk oppfordrer deltur.no til å gjenbruke dataene til bruk i f. eks. <a href="http://www.osm.org">OpenStreetMap</a>  
                  </p>
            
                  <p>
                      Alle data kan lastes ned <a href="data/">her</a> eller hentes ved kart <a href="kart/">her</a>.  
                  </p-->
                          
                  <p>
                      Ønsker du å beholde dine data private så kan du det ved å oppgradere til et <a href="{{ url_for('infopriser') }}">premium abonnementene</a>. 
                  </p>
                          
                          
                  </div>  
                 <div class="modal-footer">
                   <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
               </div>
             </div>
          </div>
    </div>
             
     <div id="markerInfo" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
               <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
               <h3>Stedsinformasjon</h3>
             </div>
             <div class="modal-body">
               
               
                 <form class="form-horizontal" role="form">

                  <div class="form-group">
                    <label for="inputTittel" class="col-sm-2 control-label">Tittel</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputTittel" placeholder="Tittel">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputBeskrivelse" class="col-sm-2 control-label">Beskrivelse</label>
                    <div class="col-sm-10">
                      <textarea id="inputBeskrivelse" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                 </form>
             </div>
             <div class="modal-footer">
               <a href="#" id="lagrePopup" data-dismiss="modal" class="btn btn-primary">Lagre</a>
             </div>
           </div>    
        </div>
    </div> 

    <div id="markerStyleEditor" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3>Editor</h3>
             </div>
             <div class="modal-body">
               
                 <textarea id="marker-style" class="form-control" rows="7">
                </textarea>

                <p><a href="http://localhost:5000/info/api#punkt_param" target="_new">Beskrivelse av feltene</a></p>

             </div>
             <div class="modal-footer">
               <a href="#" id="lagrePopup" data-dismiss="modal" class="btn btn-success" onClick="savePointStyle();">Lagre</a>
             </div>
           </div>    
        </div>
    </div> 

      
             

    <div class="container">
      <form class="form-signin" onsubmit="return false;" AUTOCOMPLETE="off">
          
        <!--h2 style="margin-left: 100px" class="form-signin-heading">Last opp fil</h2-->
        <div id="logo"><img id="logo" width="100" src="{{ url_for('static', filename='img/logo.png') }}"></div>
        <h1 style="text-align: center;font-size:4em;" class="form-signin-heading">deltur.no</h1>
        <div style="text-align: center; font-size:20px;">Del din tur p&aring; 1-2-3!</div>

        <hr>

        <div style="text-align: center; font-size:12px;"><a href="/">Tilbake til enkel deling</a></div>

        <p id="text">
           Turen kan du vise p&aring; Facebook, Twitter, e-post eller din egen blogg.  Ved deling godkjenner du at dataene er i <a data-toggle="modal" href="#mobileModal">public domain</a>.<br /><br />     
        </p>
        
        <div id="enkelTur">
            <!-- Vises på vanlig desktop -->
            <input id="dd" type="filepicker" name="myName" data-fp-maxSize="10485760"  onchange="$('#delturbutton').attr('disabled', false); uploadFile = event.fpfile.url; addGPX(event.fpfile.url);" data-fp-extension=".gpx" data-fp-services="COMPUTER,DROPBOX,GMAIL,URL,EVERNOTE,FTP,GOOGLE_DRIVE" data-fp-drag-text="Eller dra fil hit" data-fp-button-text="Legg til GPS-fil..." data-fp-button-class="btn btn-primary"/>
        </div>
        <div id="line-style-link"><a href="javascript:void(0)">Editer visning av linje</a></div>
        <textarea id="line-style" class="form-control" rows="7">
        </textarea>
        <div id="line-style-hide-element"><p>
            <a href="http://localhost:5000/info/api#linje_param" target="_new">Beskrivelse av feltene</a>
            <br>
            <a id="line-style-hide-link" href="javascript:void(0)">Skjul editering</a></div>
        <div id="line-style-save-button">
            <button type="button" class="btn btn-success" onClick="saveLineStyle();">Oppdater</button>
        </div>
        
        <div id ="gpxSpinner" style="margin-bottom: 30px;"></div>
        
        <div class="mapContainer">
			<!-- Codrops top bar -->
            
			<header class="clearfix">
                <div id="map" style="height: 350px; "></div>
				
			</header>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<!--li>
						<a class="img" href="javascript:void(0)" >
							<img src="{{ url_for('static', filename='img/a2.jpg') }}" width="166" height="120" />
							<div><span>Klikk for å endre plassering i kartet</span></div>
						</a>
					</li-->
					<li id="addImg_li">
						<a id="addImg" href="javascript:void(0)">
							<img src="{{ url_for('static', filename='img/empty_plus.png') }}" width="166" height="120" />
							<div><span>&nbsp;&nbsp;&nbsp;&nbsp;Legg til bilde...</span></div>
						</a>
					</li>
					

				</ul>
			</section>
        </div>
		
        
        <select id="dropdown" class="visible-xs" style="width: 200px">
          <option value="kartverket">Enkelt kart fra Turkompisen </option>
          <option value="turkart">Turkart fra Turkompisen</option>
          <option value="skikart">Skikart fra Turkompisen</option>
        </select>

        <table  class="hidden-xs" id="maptable">
            <tr>
                <td class="maptypes">
                    <span class="hint--bottom " data-hint="Velg enkelt topografisk kart uten merka stier/skiløyper">
                        <img id="topokart" alt="Kart fra Kartverket" title="Enkelt topografisk kart" class="img-rounded" width="115" src="{{ url_for('static', filename='img/topokart_big.png') }}">
                    </span>
                </td>
                <td class="maptypes">
                    <span class="hint--bottom" data-hint="Velg turkart fra Turkompisen med merka stier">
                        <img id="turkart" alt="Turkart fra Turkompisen" title="Turkart fra Turkompisen" class="img-rounded" width="115" src="{{ url_for('static', filename='img/turkart_big.png') }}">
                    </span>
                </td>
                <td class="maptypes">
                    <span class="hint--bottom" data-hint="Velg skikart fra Turkompisen med skiløyper">
                        <img  id="skikart" alt="Skikart fra Turkompisen" title="Skikart fra Turkompisen" class="img-rounded" width="115" src="{{ url_for('static', filename='img/skikart_big.png') }}">
                    </span>
                </td>
            </tr>
            <tr>
                <td><input class="mapButton" id="topokart-radio" name="karttype" type="radio" checked></td>
                <td><input class="mapButton" id="turkart-radio" name="karttype" type="radio"></td>
                <td><input class="mapButton" id="skikart-radio" name="karttype" type="radio"></td>
            </tr>
        </table>
        
        
       
        <button id="delturbutton" class="btn btn-large btn-primary" type="submit" disabled>Del turen</button><br>
        
        <div id ="spinner" style="margin-top: 15px;"></div>

        <div id="termslink">Alle turer er tilgjengelig i 45 dager. Ønsker du lengre tilgjengelighet så ta en kikk på våre <a href="{{ url_for('infopriser') }}">svært billige månedspriser.</a></div>
        <div id="apilink"><a href="{{ url_for('infoapi') }}">Mer glad i API enn GUI?</a></div>
        
        <div style="color:F8F8F8; font-size: 12px; text-align: center;">
      <br>
            Utviklet av <a href="http://www.kresendo.no">kresendo.no</a>
        </div>  
        
      </form>
      
      

    </div> <!-- /container -->
    
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileupload/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileupload/jquery.iframe-transport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileupload/jquery.fileupload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.tab.min.js') }}"></script>



    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/delturMap.js') }}"></script>

    <script>
    
    //var groupLayer = new L.LayerGroup();
    var gpxBounds = L.LatLngBounds();
    var gpx;
    var gpxUrl;
    var lines = new Array();
    var points = new Array();
    function addGPX(uploadfile) {
        
        var spinner;
        var opts = {
                      lines: 13, // The number of lines to draw
                      length: 5, // The length of each line
                      width: 2, // The line thickness
                      radius: 6, // The radius of the inner circle
                      corners: 1, // Corner roundness (0..1)
                      rotate: 0, // The rotation offset
                      direction: 1, // 1: clockwise, -1: counterclockwise
                      color: '#000', // #rgb or #rrggbb
                      speed: 1, // Rounds per second
                      trail: 60, // Afterglow percentage
                      shadow: false, // Whether to render a shadow
                      hwaccel: false, // Whether to use hardware acceleration
                      className: 'spinner', // The CSS class to assign to the spinner
                      zIndex: 2e9, // The z-index (defaults to 2000000000)
                      top: 'auto', // Top position relative to parent in px
                      left: 'auto' // Left position relative to parent in px
                    };

        // Remove button to upload another GPX file            
        $('#enkelTur').hide();

        // Show spinner while adding file
        spinner = new Spinner(opts).spin(document.getElementById('gpxSpinner'));

        // Create new line object
        var line = new delturLine();

        // Init line
        line.init(uploadFile);

        // Save a reference to this line
        lines.push(line);

        // Check when the file is uploaded and render to map
        // and stop spinner
        var interval = setInterval(function(){
            if(line.getStatus() === 1) {
                line.renderToMap(map);
                map.fitBounds(line.getBounds());
                spinner.stop();

                // Update textarea with style
                $('#line-style').text(JSON.stringify(line.getStyle(), undefined, 2));
                $('#line-style-link').show();
                
                // Stop interval
                clearInterval(interval);
            }
        },500);
    
            
          /*map.addLayer(gpx);
          gpxBounds.extend(e.target.getBounds());
          map.fitBounds(gpxBounds.getBounds());
        })*/
    }

    function saveLineStyle() {
        // Save new style
        lines[0].setStyle(JSON.parse($('#line-style').val()));

        // Update map
        lines[0].updateRendering(map);
    }

    function openPointStyleEditor(arrayId) {
        var point = points[arrayId];

        // Save id so we can save to the same id later on
        $('#currentMarker').html(arrayId);

        // Update textarea with json data
        $('#marker-style').val(JSON.stringify(point.getStyle(), undefined, 2));

        // Open modal
        $('#markerStyleEditor').modal();
        
    }

    function savePointStyle() {

        var point = points[$('#currentMarker').html()];
        point.setStyle(JSON.parse($('#marker-style').val()));
        point.updateRendering(map);
        
        /*
        var interval = setInterval(function(){
            if(point.getStatus() === 1) {
                 // Save new style
                point.setStyle(JSON.parse($('#marker-style').val()));

                // Update map
                $.each(points, function(index, point) {
                    point.updateRendering(map, markers);
                });
                
                
                // Stop interval
                clearInterval(interval);
            }
        },500);
*/



       
    }

    function switchBgMap(maptype) {
        switch(maptype) {
            case "turkart":
                map.addLayer(turkart);
                map.removeLayer(skikart);
                map.removeLayer(topokart);
                break;
            case "skikart":
                map.removeLayer(turkart);
                map.addLayer(skikart);
                map.removeLayer(topokart);
                break;
            case "topokart":
                map.removeLayer(turkart);
                map.removeLayer(skikart);
                map.addLayer(topokart);
                break;
        }
    }

    var emptyIcon = L.AwesomeMarkers.icon({
          prefix: 'fa',
          icon: 'map-marker', 
          markerColor: 'blue'
    });
            

    var drawnItems;
    var layer;
    var numMarkers  = 0;
    var markerInfo = Array();
    var drawControl;
    $(function () {

        // Utility function to preload images
        $.fn.preload = function() {
            this.each(function(){
                $('<img/>')[0].src = this;
            });
        }

        /*
        ** HANDLERS
        */

        $('#line-style-link').click(function () {
            $('#line-style').show();
            $('#line-style-save-button').show();
            $('#line-style-link').hide();
            $('#line-style-hide-element').show();
        });

        $('#line-style-hide-link').click(function () {
            $('#line-style').hide();
            $('#line-style-save-button').hide();
            $('#line-style-link').show();
            $('#line-style-hide-element').hide();
        });
        

        // Handlers for clicking map or radio buttons below map
        $('#turkart').click(function () {
            jQuery("#turkart-radio").prop("checked", true);
            switchBgMap("turkart")
        });
        $('#turkart-radio').click(function () {
            switchBgMap("turkart")
        });
        $('#skikart').click(function () {
            jQuery("#skikart-radio").prop("checked", true);
            switchBgMap("skikart")
        });
        $('#skikart-radio').click(function () {
            switchBgMap("skikart")
        });
        $('#topokart').click(function () {
            jQuery("#topokart-radio").prop("checked", true);
            switchBgMap("topokart")
        });
        $('#topokart-radio').click(function () {
            switchBgMap("topokart")
        });


        // Handle mobile case of choosing map type
        $('#dropdown').change(function() {
            if($(this).find('option:selected').val() == "turkart") {
                jQuery("#turkart-radio").attr('checked', 'checked');
            }
            else if($(this).find('option:selected').val() == "skikart") {
                jQuery("#skikart-radio").attr('checked', 'checked');
            }
            else {
                jQuery("#topokart-radio").attr('checked', 'checked');         
            }
        });

        $('#delturbutton').click(function () {

            // Start uploading GPX
            var opts = {
                  lines: 13, // The number of lines to draw
                  length: 5, // The length of each line
                  width: 2, // The line thickness
                  radius: 6, // The radius of the inner circle
                  corners: 1, // Corner roundness (0..1)
                  rotate: 0, // The rotation offset
                  direction: 1, // 1: clockwise, -1: counterclockwise
                  color: '#000', // #rgb or #rrggbb
                  speed: 1, // Rounds per second
                  trail: 60, // Afterglow percentage
                  shadow: false, // Whether to render a shadow
                  hwaccel: false, // Whether to use hardware acceleration
                  className: 'spinner', // The CSS class to assign to the spinner
                  zIndex: 2e9, // The z-index (defaults to 2000000000)
                  top: 'auto', // Top position relative to parent in px
                  left: 'auto' // Left position relative to parent in px
            };
            new Spinner().spin(document.getElementById('spinner'));
            $('#apilink').css('visibility','hidden');
            $('#termslink').css('visibility','hidden');
            $('#delturbutton').text("Laster opp...");

            // Create ids string
            var ids = "";
            $.each(lines, function(index, value) {
                var currentId = value.getId();
                if(ids=="")
                    ids = currentId;
                else
                    ids = ids + "+" + currentId;
            });

            $.each(points, function(index, value) {
                var currentId = value.getId();
                if(ids=="")
                    ids = currentId;
                else
                    ids = ids + "+" + currentId;
            });

            sendToTrip(ids)    
        }); 

    
        var imgNum = 1; // Used as id on images
        $('#addImg').click(function () {
            
            filepicker.pickAndStore(
                {
                    mimetype:"image/*",
                    services:['COMPUTER', 'FACEBOOK', 'DROPBOX', 'GMAIL',  'FLICKR',  'FTP',  'GOOGLE_DRIVE', 'PICASA', 'INSTAGRAM', 'URL'],
                },
                {location:"S3", access: 'public'}, 
                function(fpfiles){
                    console.log(JSON.stringify(fpfiles));
                    
                    // Add to list
                    $('#da-thumbs').prepend('<li class="imageStack" id="imageNum'+imgNum+'"><a class="img" href="javascript:void(0)"><img id="imageNum'+imgNum+'" src="'+fpfiles[0].url+'"  width="166" height="120" /><div><span>Klikk for å plassere i kartet</span></div></a></li>');
                    imgNum++;
                    setImageOnClick();

                    showRemoveAddImageElement();
                },
                function(FPError){
                    console.log(FPError.toString());
                });
            });
        
        });

        /*
        ** END HANDLERS
        */


 		
        map.addLayer(topokart);
        
        
        // Add layer for temporary markers
        drawnItems = new L.FeatureGroup();
		map.addLayer(drawnItems);

        // Setup draw control
		drawControl = new L.Control.Draw({
            //position: 'topright',
			draw: {
				position: 'topleft',
                polygon: false,
				polyline: false, /*{
					title: 'Tegn en tur',
					shapeOptions: {
						color: '#ff7800'
					}
				},*/
				circle: false,
                marker: {
                    icon: emptyIcon
                },
                rectangle: false
			},
			edit: {
				featureGroup: drawnItems,
                remove: false
			}
		});
    	map.addControl(drawControl);


        var doneWithPopup;
    	map.on('draw:created', function (e) {
            doneWithPopup = false;
    		var type = e.layerType;
    		var newlayer = e.layer;


            if (type === 'marker') {
                        
                // Open modal
                $('#markerInfo').modal();

                // When users clicks save in modal
                $('#lagrePopup').click(function () {

                     // Create new line object
                    var point = new delturPoint();

                    // Init point
                    var url = $('#currentImg').html();
                    $('#currentImg').html(""); // Set back to null
                    var description = $('#inputBeskrivelse').val();
                    var title =  $('#inputTittel').val();
                    point.init(e.layer._latlng.lat, e.layer._latlng.lng, title, description, url);

                    // Save a reference to this line
                    points.push(point);

                    // Add a custom footer to popup
                    var currentPlaceInArray = points.length-1;
                    var customPopupFooter = '<div id="change-marker-link"><a onClick="openPointStyleEditor('+ currentPlaceInArray +')" href="javascript:void(0)">Endre på ikon</a></div>';
                    point.addCustomPopupFooter(customPopupFooter);

                    var interval = setInterval(function(){
                        if(point.getStatus() === 1) {
                            point.renderToMap(map);
                            
                            // Stop interval
                            clearInterval(interval);
                        }
                    },100);
        

                    // Remove image from stack. Check if there is room left for the add image element
                    $('#'+activeImgId).remove();
                    showRemoveAddImageElement();

                
                    $('#delturbutton').attr('disabled', false); // Enable button
                    $('#lagrePopup').off('click'); // Remove click event so we do not reimplement on each marker
                })
                
            }
            	
        });

            
            
        

        /*
        * Function to check if the image add symbol should be shown or not
        */
        function showRemoveAddImageElement() {
            var pageWidth = document.body.clientWidth;
            var numberOfImagesInStack = $('.imageStack').length;
            var imgWidth = 166;
            if(pageWidth-(numberOfImagesInStack+1)*imgWidth< 150 ) {
                $('#addImg_li').hide()
            }
            else {
                $('#addImg_li').show()
            }
        }
            
        /*
        * Return the currently set map type
        */    
        function getActiveMaptype() {
            var maptype = "topokart"; // Default maptype

             // Check maptype
            if(jQuery("#turkart-radio").is(":checked")) {
                maptype = "turkart";
            }
            else if(jQuery("#skikart-radio").is(":checked")) {
                maptype = "skikart";
            }
            else {
                maptype = "topokart";
            }

            return maptype;
        }

        /*
        * Send user to the complete trip
        */
        function sendToTrip(ids) {
            maptype = getActiveMaptype();
            document.location.href = "/"+ids+"/" + maptype;
        }
            
        var marker;   
        var activeImgId; // Keeps track of id so we can remove the element when added to map
        function setImageOnClick() {
            $('.img').click(function (event) {
            
                var imgSrc = $(this).find('img').attr('src');
                activeImgId = $(this).find('img').attr('id');


                $('#currentImg').html(imgSrc);

                $('#imageNotification').miniNotification();
                marker = new L.Draw.Marker(map, {
                    title: 'Add a marker',
                    icon: emptyIcon
                });

        
                marker.addHooks();
                map.on('mousedown', function(e) {
                    setTimeout('marker.removeHooks()', 200);
                });
            });
        }
            
        setImageOnClick();

   
    
    </script>
    
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.hoverdir.js') }}"></script>	
	<script type="text/javascript">
		$(function() {
		
			$(' #da-thumbs > li ').each( function() { $(this).hoverdir({
				hoverDelay : 50,
				inverse : true
			}); } );

		});
	</script>
    

  </body>
</html>
