
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>deltur.no</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='img/favicon.png') }}' />

    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.0.0/leaflet-omnivore.min.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/L.Control.Sidebar.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/L.Control.Sidebar.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/humane-original.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}">
    <link href="//raw.github.com/jharding/typeahead.js-bootstrap.css/master/typeahead.js-bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dialog.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectrum.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/humane.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/leaflet.awesome-markers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/filepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spectrum.js') }}"></script>

    <script>
   
       filepicker.setKey('AK2S92lIJQxSOTwf0nI6Uz');
       
       var auth_token = "{{config['TOKEN']}}";
       var delGPXURL;
       var delGeoJSONURL;
       var delPointURL, delPointToken;
       var setStyleUrl;
      {% if current_user.is_authenticated() %}
          delGPXURL = "/delturno/gpx";
          delGeoJSONURL = "/delturno/geojson";
          delPointURL = "/delturno/sted/";
          delPointToken = ""
          setStyleUrl = "/delturno/setStyle";
      {% else %}    
          delGPXURL = "/del/gpx?auth_token=" + auth_token;
          delGeoJSONURL = "/del/geojson?auth_token=" + auth_token;
          delPointURL = "/del/sted/";
          delPointToken = "?auth_token=" + auth_token;
          setStyleUrl = "/setStyle?auth_token="  + auth_token;
      {% endif %}


       var uploadFile; // Store the URL to the file uploaded
  
  
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-40003995-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
         
    </script>

    <script type="text/javascript">

        // Set up dynamic variables used in delturMap.js
        var tileJsonSkikart = '{{ url_for('static', filename='mapconfig/skikart.json') }}';
        var tileJsonSkikartHighdef = '{{ url_for('static', filename='mapconfig/skikart_highdef.json') }}';
        var tileJsonTurkart = '{{ url_for('static', filename='mapconfig/turkart.json') }}';
        var tileJsonTurkartHighdef = '{{ url_for('static', filename='mapconfig/turkart_highdef.json') }}';
        var tileJsonTopokart = '{{ url_for('static', filename='mapconfig/topokart.json') }}';
        var tileJsonTopokartHighdef = '{{ url_for('static', filename='mapconfig/topokart_highdef.json') }}';

    </script>

    
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
        }

        #logo {
            float: left;
        }
        #header {
            text-align: center;
            font-size:4em;
            padding-top: 40px;
        }
        #sub-header {
            text-align: center; 
            font-size:15px;
        }
        #text {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 15px;
        }
        #share-button-text {
            margin-left: 47%;
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #section-share-buttons {
            position: relative; 
            bottom: 0;
            margin-bottom: 30px;
        }
        .share-button {
            position: relative;
            margin-left: 13%;
            display: block;
            width: 300px;
        }
        #section-share-header {
            margin-left: 2.5%;
            color: #256ca8;
        }
        #section-share-hr {
            height: 1px;
            color: #70a3d7;
            background: #70a3d7;
            font-size: 0;
            border: 0;
            margin-top: 0px;
            margin-bottom: 5px;
            width: 95%;
        }
        .section-share-button {
            margin-left: 2.5%;
            margin-right: 10px;
            padding-right: 10px;
            display: block;
            width: 45%;
            float: left;
        }

        #section-share-line {
            margin-top: 70px;
        }
        #section-share-point {
            margin-top: 20px;
        }
        #section-maptype {
            margin-top: 70px;
        }
        #search-field {
            width: 95%;
            margin-left: 2.5%;
        }

        #dropdown {
            margin-left: 2.5%;
            margin-top: 5px;
            width: 95%;
        }

        #point-delete {
            text-align: center;
            font-size: 12px;
        }

        #line-delete {
            text-align: center;
            font-size: 12px;
        }
        
        /* Style upload button */
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 999px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        #sidebar-edit-line {
            display: none;
            margin-top: 30px;
        }
        #sidebar-edit-point {
            display: none;
            margin-top: 30px;
        }
        #sidebar-main {
            display: visible;
        }

        #point-marker-number-div {
            display: none;
        }


        /*
        ** Sidebar edit
        */
        .edit-buttons {
            margin-left: 2.5%;
            margin-right: 10px;
            margin-top: 20px;
            padding-right: 10px;
            display: block;
            width: 95%;
            float: left;
        }
        #current-line {
            display: none;
        }

        .sp-palette {
            max-width: 200px;
        }

        /*
        * Dialogs
        */
        .delete-dialog .modal-dialog {
            width: 300px;
        }




        /*
        * Media queries
        */
        @media screen and (max-width: 1199px){
            #logo {
              margin-left: 25%;
              margin-right: auto;
              margin-bottom: 10px;
              display: block;
            }
            .section-share-button {
                width: 44%;
            }
            .share-button {
                margin-left: 4%;
            }
        }
        @media screen and (max-width: 991px){
            #logo {
              margin-left: 25%;
              margin-right: auto;
              margin-bottom: 10px;
              display: block;
            }
            .section-share-button {
                width: 43%;
            }
            .share-button {
                margin-left: 2%;
                width: 235px;
            }
        }
        @media screen and (max-width: 767px){
            .section-share-button {
                width: 43%;
            }
            .share-button {
                margin-left: 2%;
                width: 235px;
            }
        }


        /*
        * Search input
        */

        .tt-dropdown-menu {
          width: 422px;
          margin-top: 12px;
          padding: 8px 0;
          background-color: #fff;
          border: 1px solid #ccc;
          border: 1px solid rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 8px;
             -moz-border-radius: 8px;
                  border-radius: 8px;
          -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
             -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                  box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
          padding: 3px 20px;
          font-size: 18px;
          line-height: 24px;
        }

        .tt-suggestion.tt-cursor {
          color: #fff;
          background-color: #0097cf;

        }

        .tt-suggestion p {
          margin: 0;
        }

        .gist {
          font-size: 14px;
        }

        .twitter-typeahead {
             width: 100%;
        }
        .tt-dropdown-menu {
             width: 100%;
        }
        .tt-hint {
             width: 100%;
        }

        .empty-message {
            padding: 5px 10px;
            text-align: center;
        }


        /*
        * Overwrite menu settings
        */
        .menu a {
            color:#256ca8 !important;
        }

        .menu a:hover{
            text-decoration:underline
        }   
        
    </style>
</head>
<body>

    


    <div id="embedModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close closeEmbedModal" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Vis turen på eget nettsted</h3>
                </div>
                <div id="embedBody" class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <a href="javascript:void(0)" class="btn closeEmbedModal" data-dismiss="modal" >Lukk</a>
                </div>
            </div>
        </div>
    </div>


    <div id="sidebar">
        <div class="menu">
        <ul>
            {% if current_user.is_authenticated() %}
            
            <li><a href="{{ url_for('security.logout') }}?next=%2Fadvanced">Logg ut</a></li>
            <li><a href="{{ url_for('adminIndex') }}">{{ current_user.email }}</a></li>
          {% else %}
          <li><a href="{{ url_for('security.register') }}?next={{request.path | urlencode}}"> Registrer deg  <i class="fa fa-chevron-circle-right"></i></a>
            </li>
           <li><a href="{{ url_for('security.login') }}?next=%2Fadvanced"> Logg inn  <i class="fa fa-chevron-circle-right"></i></a>
            </li>
            <!--li><a href="{{ url_for('security.register') }}">Register</a></li-->
          {% endif %}
            
        </ul>
    </div>

        <div id="sidebar-main">
            <div id="logo"><a href="/"><img id="logo" width="100" src="{{ url_for('static', filename='img/logo.png') }}"></a></div>
            <h1 id="header">deltur.no</h1>
            <div id="sub-header">Del din tur p&aring; 1-2-3!</div>
            <hr>
            <!--p id="text">
                Ved deling godkjenner du at dataene er i <a data-toggle="modal" href="#mobileModal">public domain</a>. <br /><br />     
            </p-->
            <!--div style="text-align: center; font-size:12px;"><a href="/">Tilbake til enkel deling</a></div-->

            <div id="section-search">
                <div id="section-share-header">1. Søk etter område</div>
                <hr id="section-share-hr">
                <!--input type="text" id="search-field" class="form-control"-->
                
                <input id="search-field" class="typeahead form-control"  type="text" placeholder="Søk stedsnavn">
                
            </div>

            <div id="section-share-point">
                <div id="section-share-header">2. Del markør</div>
                <hr id="section-share-hr">
                <button id="draw-point-button" class="btn btn-large btn-default section-share-button">Tegne markør</button>
                <!--span class="btn btn-default btn-file section-share-button">
                    Markør fra fil <input type="file" id="fileInputPoint">
                </span-->
            </div>

            <div id="section-share-line">
                <div id="section-share-header">3. Del spor</div>
                <hr id="section-share-hr">
                <button id="draw-line-button" class="btn btn-large btn-default section-share-button">Tegne spor</button>
                <span class="btn btn-default btn-file section-share-button">
                    Spor fra fil <input type="file" id="fileInputLine">
                </span>
            </div>
            <div id="section-maptype">
                <div id="section-share-header">4. Velg bakgrunnskart</div>
                <hr id="section-share-hr">
                <select autocomplete="off" id="dropdown">
                    <option value="topokart" selected="selected">Enkelt kart fra Turkompisen </option>
                    <option value="turkart">Turkart fra Turkompisen</option>
                    <option value="skikart">Skikart fra Turkompisen</option>
                    <option value="veikart">Veikart</option>
                    <option value="satellitt">Satellitt</option>
                    <option value="kartverket">Kartverket</option>
                </select>
            </div>


            <br><br>


            <div id="section-share-buttons">
                <button autocomplete="off" id="deltur-button" class="btn btn-large btn-primary btn-block share-button" disabled>Del turen</button>
                <div id="share-button-text">eller</div>
                <button autocomplete="off" id="embed-button" type="button" class="btn btn-primary btn-block share-button" disabled>Vis turen på eget nettsted</button>
            </div>
        </div>
        <div id="sidebar-edit-line">
            <!-- Placeholder for the current line being edited -->
            <div id="current-line"></div>

            <form id="line-form" class="form-horizontal" autocomplete="off">
              <fieldset>
                <legend>Legg til detaljer om sporet</legend>
                <div class="form-group">

                  <label for="line-title" class="col-lg-3 control-label">Tittel</label>
                  <div class="col-lg-9">
                    <input type="text" id="line-title" class="form-control">
                  </div>

                </div>
                <div class="form-group">

                  <label for="line-description" class="col-lg-3 control-label">Beskrivelse</label>
                  <div class="col-lg-9">
                    <textarea id="line-description" class="form-control" rows="4"></textarea>
                    <span class="help-block">Tittel og beskrivelse vises i en valgfri popup på sporet. Det vil også hjelpe deg å finne fram til riktig spor seinere. </span>
                    
                  </div>

                </div>
                <div class="form-group">

                  <label for="line-color" class="col-lg-3 control-label">Farge</label>
                  <div class="col-lg-9">
                    <input type="text" id="line-color" class="form-control" value="#ff7800" />
                  </div>

                </div>

                <div class="form-group">

                  <label for="line-width" class="col-lg-3 control-label">Tykkelse</label>
                  <div class="col-lg-9">
                    <input type="text" id="line-width" class="form-control"  />
                  </div>

                </div>

                <div class="form-group">
                  <label for="line-opacity" class="col-lg-3 control-label">Gjennomsiktighet</label>
                  <div class="col-lg-9">
                    <select class="form-control" id="line-opacity">
                      <option>0.1</option>
                      <option>0.2</option>
                      <option>0.3</option>
                      <option>0.4</option>
                      <option>0.5</option>
                      <option>0.6</option>
                      <option>0.7</option>
                      <option selected="selected">0.8</option>
                      <option>0.9</option>
                      <option>1.0</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">

                  <label for="line-check-popup" class="col-lg-3 control-label">Vise popup</label>
                  <div class="col-lg-9">
                    <div class="checkbox">
                      <label>
                        <input id="line-check-popup" type="checkbox">
                      </label>
                    </div>
                  </div>



                  <label for="line-check-start" class="col-lg-3 control-label">Vis start</label>
                  <div class="col-lg-9">
                    <div class="checkbox">
                      <label>
                        <input id="line-check-start" type="checkbox">
                      </label>
                    </div>
                  </div>

                  <label for="line-check-end" class="col-lg-3 control-label">Vis slutt</label>
                  <div class="col-lg-9">
                    <div class="checkbox">
                      <label>
                        <input id="line-check-end" type="checkbox">
                      </label>
                    </div>
                  </div>

                </div>

                <div class="form-group">

                  <label for="line-label-text" class="col-lg-3 control-label">Label tekst</label>
                  <div class="col-lg-9">
                    <input type="text" id="line-label-text" class="form-control">
                  </div>

                </div>

              </fieldset>
            </form>

            <button id="cancel-line-button" class="btn btn-large btn-default edit-buttons">Ok, jeg er ferdig her</button>
            <div id="line-delete">
                <a href="javascript:void(0)" onClick="openDeleteLineDialog()">Slett linjen</a>
            </div>
        </div>

        <div id="sidebar-edit-point">
            <!-- Placeholder for the current line being edited -->
            <div id="current-point"></div>

            <form id="point-form" class="form-horizontal" autocomplete="off">
              <fieldset>
                <legend>Legg til detaljer om markøren</legend>
                <div class="form-group">
                  <label for="point-title" class="col-lg-3 control-label">Tittel</label>
                  <div class="col-lg-9">
                    <input type="text" id="point-title" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label for="point-description" class="col-lg-3 control-label">Beskrivelse</label>
                  <div class="col-lg-9">
                    <textarea id="point-description" class="form-control" rows="3"></textarea>
                    <span class="help-block">Tittel og beskrivelse vises standard i en popup på markøren. Det vil også hjelpe deg å finne fram til riktig markør seinere. </span>
                  </div>

                  <label for="point-description" class="col-lg-3 control-label">Bilde</label>
                  <div class="col-lg-9">
                    <button id="point-image-button" type=button class="btn btn-large btn-default">Legg til bilde</button>
                  </div>


                    <label for="point-check-popup" class="col-lg-3 control-label">Vise popup</label>
                  <div class="col-lg-9">
                    <div class="checkbox">
                      <label>
                        <input id="point-check-popup" type="checkbox" checked>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="point-color" class="col-lg-3 control-label">Markør farge</label>
                  <div class="col-lg-9">
                    <input type='text' id="point-color"/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="point-marker-type" class="col-lg-3 control-label">Markør type</label>
                  <div class="col-lg-9">
                    <select class="form-control" id="point-marker-type">
                      <option selected="selected">Fontawesome</option>
                      <option>Nummer</option>
                    </select>
                  </div>
                </div>

                <div id="point-marker-text-div" class="form-group">
                  <label for="point-marker-text" class="col-lg-3 control-label">Markør tekst</label>
                  <div class="col-lg-9">
                    <input type="text" id="point-marker-text" value="map-marker" class="form-control">
                  </div>
                </div>

                <div id="point-marker-number-div" class="form-group">
                  <label for="point-marker-number" class="col-lg-3 control-label">Markør nummer</label>
                  <div class="col-lg-9">
                    <input type="text" id="point-marker-number" value="0" class="form-control">
                  </div>
                </div>


                <div class="form-group">
                  <label for="point-label-text" class="col-lg-3 control-label">Label tekst</label>
                  <div class="col-lg-9">
                    <input type="text" id="point-label-text" class="form-control">
                  </div>

                  <label for="point-label-static" class="col-lg-3 control-label">Statisk label</label>
                  <div class="col-lg-9">
                    <div class="checkbox">
                      <label>
                        <input id="point-label-static" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>

              </fieldset>
            </form>

            <button id="cancel-point-button" class="btn btn-large btn-default edit-buttons">Ok, jeg er ferdig her</button>
            <div id="point-delete">
                <a href="javascript:void(0)" onClick="openDeletePointDialog();">Slett markøren</a>
            </div>

        </div>

    </div>

    <div id="map"></div>

    <script src="{{ url_for('static', filename='js/delturLine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delturPoint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delturMap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/saveLine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/savePoint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deletePointLine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ssrTypeAheadSearch.js') }}"></script>

    <script>

        $(function(){
            $('#line-color').colorpicker();

            $("#point-color").spectrum({
                color: "rgb(63, 171, 219)",    
                showPaletteOnly: true,
                change: function(color) {
                    savePointColor(color);
                },
                palette: [
                    ["rgb(233, 126, 121)", "rgb(212, 63, 49)", "rgb(160, 52, 57)", "rgb(141, 218, 253)", "rgb(63, 171, 219)"],
                    ["rgb(13, 104, 161)","rgb(188, 247, 120)", "rgb(116, 174, 50)", "rgb(114, 129, 44)", "rgb(253, 148, 232)"], 
                    [ "rgb(208, 86, 183)",  "rgb(90, 58, 106)", "rgb(68, 105, 119)", "rgb(254, 202, 150)", "rgb(244, 150, 61)"],
                    [ "rgb(251, 251, 251)", "rgb(163, 163, 163)", "rgb(87, 87, 87)", "rgb(48, 48, 48)"]
                ]
            });
        });

        /*
        **  Global variables
        */
        var lines = new Array();
        var points = new Array();

        // Add layer for temporary markers
        //var drawnItems = new L.FeatureGroup();
        //map.addLayer(drawnItems);
        drawControl = new L.Control.Draw({
            draw: {
                position: 'topleft',
                polygon: false,
                polyline: true, 
                circle: false,
                marker: true,
                rectangle: false
            },
            edit: {
                //featureGroup: drawnItems,
                edit: false,
                remove: false
            }
        });
        

        /*
        **  Add map
        */
        map.addLayer(topokart);


        /*
        **  Add sidebar
        */
        var sidebar = L.control.sidebar('sidebar', {
            closeButton: false,
            position: 'left'
        });
        map.addControl(sidebar);

        setTimeout(function () {
            sidebar.show();
        }, 500);

        // Add zoomcontrols in top right corner
        new L.Control.Zoom({ position: 'topright' }).addTo(map);

        /*
        **  Translate draw texts
        */
        L.drawLocal.draw.toolbar.actions.cancel = "Avbryt";
        L.drawLocal.edit.toolbar.actions.cancel = "Avbryt";
        L.drawLocal.draw.toolbar.buttons.marker = "Legg til en markør";
        L.drawLocal.draw.handlers.marker.tooltip.start = "Klikk i kartet for å plassere markøren";
        L.drawLocal.draw.handlers.polyline.tooltip.start = "Klikk i kartet for å tegne en linje";
        L.drawLocal.draw.handlers.polyline.tooltip.cont = "Klikk for å fortsette linjen";
        L.drawLocal.draw.handlers.polyline.tooltip.end = "Dobbeltklikk for å avslutte linjen";
        L.drawLocal.draw.toolbar.undo.text = "Slett siste punkt";


        /*
        **  Handle upload of lines
        */
        window.onload = function() {
            fileInputLine.addEventListener('change', function(e) {
                var file = fileInputLine.files[0];

                if (file.name.match(/(\.|\/)(gpx)$/i)) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        var gpxdom = (new DOMParser()).parseFromString(reader.result, 'text/xml');
                        var geojson = toGeoJSON.gpx(gpxdom);

                        // Hide sidebar
                        sidebar.hide();

                        showLineEditSidebar();

                        // Create new line object
                        var line = new delturLine();

                        // Get line metadata
                        fillInLineMetadata(line);

                        // Init line
                        var description = "";
                        var title =  "";
                        line.initWithGeo([geojson.features[0].geometry], title, description);

                        // Save a reference to this line
                        lines.push(line);

                        // Make editable
                        var currentPlaceInArray = lines.length-1;
                        line.makeEditable(editLine, currentPlaceInArray);

                        // Check when the file is uploaded and render to map
                        // and stop spinner
                        var lineInterval = setInterval(function(){
                            if(line.getStatus() === 1) {
                                line.renderToMap(map);
                                map.fitBounds(line.getBounds().pad(0.1));

                                // Show sidebar
                                sidebar.show();

                                $('#current-line').val(currentPlaceInArray);

                                $('#deltur-button').attr('disabled', false); // Enable button
                                $('#embed-button').attr('disabled', false); // Enable button
                                
                                // Stop interval
                                clearInterval(lineInterval);
                            }
                        },100);

                    }

                    reader.readAsText(file);    
                } else {
                    humane.log("<p>Filen du valgte er ikke en GPS-fil!</p>", { waitForMove: true});
                }
            });
        }

        /*
        **  Utility functions
        */

        // Utility function to preload images
        $.fn.preload = function() {
            this.each(function(){
                $('<img/>')[0].src = this;
            });
        }

        function showLineEditSidebar() {
            $('#sidebar-main').hide();
            $('#sidebar-edit-line').show();
        }

        function showPointEditSidebar() {
            $('#sidebar-main').hide();
            $('#sidebar-edit-point').show();
        }

        function showMainSidebar() {
            $('#point-image-button').html("Legg til bilde");
            $('#sidebar-main').show();
            $('#sidebar-edit-line').hide();
            $('#sidebar-edit-point').hide();
        }

        function editLine(id, currentPlaceInArray) {

            // Get current line
            var line = lines[currentPlaceInArray];

            // Get line metadata
            fillInLineMetadata(line);

            $('#current-line').val(currentPlaceInArray);


            // Open editing sidebar
            showLineEditSidebar();
        }

        function editPoint(id, currentPlaceInArray) {

            // Get current point
            var point = points[currentPlaceInArray];

            // Set metadata
            fillInPointMetadata(point);

            $('#current-point').val(currentPlaceInArray);

            // Open editing sidebar 
            showPointEditSidebar();
        }

        function switchBgMap(maptype) {
            switch(maptype) {
                case "turkart":
                    map.addLayer(turkart);
                    map.removeLayer(skikart);
                    map.removeLayer(topokart);
                    map.removeLayer(veikart);
                    map.removeLayer(kartverket);
                    map.removeLayer(satellite);
                    break;
                case "skikart":
                    map.removeLayer(turkart);
                    map.addLayer(skikart);
                    map.removeLayer(topokart);
                    map.removeLayer(veikart);
                    map.removeLayer(kartverket);
                    map.removeLayer(satellite);
                    break;
                case "topokart":
                    map.removeLayer(turkart);
                    map.removeLayer(skikart);
                    map.addLayer(topokart);
                    map.removeLayer(veikart);
                    map.removeLayer(kartverket);
                    map.removeLayer(satellite);
                    break;
                case "veikart":
                    map.removeLayer(turkart);
                    map.removeLayer(skikart);
                    map.removeLayer(topokart);
                    map.addLayer(veikart);
                    map.removeLayer(kartverket);
                    map.removeLayer(satellite);
                    break;
                case "kartverket":
                    map.removeLayer(turkart);
                    map.removeLayer(skikart);
                    map.removeLayer(topokart);
                    map.removeLayer(veikart);
                    map.addLayer(kartverket);
                    map.removeLayer(satellite);
                    break;
                case "satellitt":
                    map.removeLayer(turkart);
                    map.removeLayer(skikart);
                    map.removeLayer(topokart);
                    map.removeLayer(veikart);
                    map.removeLayer(kartverket);
                    map.addLayer(satellite);
                    break;
            }
        }

        function fillInPointMetadata(point) {

            $('#point-title').val(point.getTitle());
            $('#point-description').val(point.getDescription());

            if(point.getImgUrl() !=  "") {
                $('#point-image-button').html("Endre bilde");
            }
            else {
                $('#point-image-button').html("Legg til bilde");
            }

            if(point.getPopup()) {
                $('#point-check-popup').prop("checked", true);
            }
            else {
                $('#point-check-popup').prop("checked", false);
            }


            switch(point.getColor()) { 
                case "lightred":
                    $("#point-color").spectrum("set", "rgb(233, 126, 121)");
                    break;
                case "red":
                    $("#point-color").spectrum("set", "rgb(212, 63, 49)");
                    break;
                case "darkred":
                    $("#point-color").spectrum("set", "rgb(160, 52, 57)");
                    break;
                case "lightblue":
                    $("#point-color").spectrum("set", "rgb(141, 218, 253)");
                    break;
                case "blue":
                    $("#point-color").spectrum("set", "rgb(63, 171, 219)");
                    break;
                case "darkblue":
                    $("#point-color").spectrum("set", "rgb(13, 104, 161)");
                    break;
                case "lightgreen":
                    $("#point-color").spectrum("set", "rgb(188, 247, 120)");
                    break;
                case "green":
                    $("#point-color").spectrum("set", "rgb(116, 174, 50)");
                    break;
                case "darkgreen":
                    $("#point-color").spectrum("set", "rgb(114, 129, 44)");
                    break;
                case "pink":
                    $("#point-color").spectrum("set", "rgb(253, 148, 232)");
                    break;
                case "purple":
                    $("#point-color").spectrum("set", "rgb(208, 86, 183)");
                    break;
                case "darkpurple":
                    $("#point-color").spectrum("set", "rgb(90, 58, 106)");
                    break;
                case "cadetblue":
                    $("#point-color").spectrum("set", "rgb(68, 105, 119)");
                    break
                case "beige":
                    $("#point-color").spectrum("set", "rgb(254, 202, 150)");
                    break;
                case "orange":
                    $("#point-color").spectrum("set", "rgb(244, 150, 61)");
                    break;
                case "white":
                    $("#point-color").spectrum("set", "rgb(251, 251, 251)");
                    break;
                case "lightgray":
                    $("#point-color").spectrum("set", "rgb(163, 163, 163)");
                    break;
                case "gray":
                    $("#point-color").spectrum("set", "rgb(87, 87, 87)");
                    break;
                case "black":
                    $("#point-color").spectrum("set", "rgb(48, 48, 48)");
                    break;
            }

            if(point.getMarkerType() == "fa") {
                $('#point-marker-type').val("Fontawesome");
                $('#point-marker-text').val(point.getMarkerSymbol());
                $('#point-marker-text-div').show();
                $('#point-marker-number-div').hide();
            }
            else {
                $('#point-marker-type').val("Nummer");
                $('#point-marker-number').val(point.getMarkerSymbol());
                $('#point-marker-text-div').hide();
                $('#point-marker-number-div').show();
            }
            
            $('#point-label-text').val(point.getLabelText());
            if(point.getLabelStatic()) {
                $('#point-label-static').prop("checked", true);
            } 
            else {
                $('#point-label-static').prop("checked", false);
            }


        }

        function fillInLineMetadata(line) {
            // Set metadata
            $('#line-title').val(line.getTitle());
            $('#line-description').val(line.getDescription());
            $('#line-color').val(line.getColor());
            $('#line-width').val(line.getWidth());
            $('#line-label-text').val(line.getLabelText());
            if(line.getPopup()) {
                $('#line-check-popup').prop("checked", true);
            }
            else {
                $('#line-check-popup').prop("checked", false);
            }
            if(line.getStartIcon()) {
                $('#line-check-start').prop("checked", true);
            }
            else {
                $('#line-check-start').prop("checked", false);
            }
            if(line.getEndIcon()) {
                $('#line-check-end').prop("checked", true);
            }
            else {
                $('#line-check-end').prop("checked", false);
            }
            var opacity = Math.round(line.getOpacity()*10)/10;
            $('#line-opacity').val(opacity);
        }

        /*
        * Send user to the complete trip
        */
        function sendToTrip(ids) {
            maptype = $("#dropdown").find('option:selected').val(); 
            window.open(
              "/"+ids+"/" + maptype,
              '_blank' // <- This is what makes it open in a new window.
            );
            //document.location.href = "/"+ids+"/" + maptype;
        }

       





        /*
        **  Handlers
        */

        // Disable enter on forms
        $('#point-form').bind("keyup keypress", function(e) {
          var code = e.keyCode || e.which; 
          if (code  == 13) {               
            e.preventDefault();
            return false;
          }
        });
        $('#line-form').bind("keyup keypress", function(e) {
          var code = e.keyCode || e.which; 
          if (code  == 13) {               
            e.preventDefault();
            return false;
          }
        });

        // Handle choosing map type
        $('#dropdown').change(function() {
            if($(this).find('option:selected').val() == "turkart") {
                switchBgMap("turkart")
            }
            else if($(this).find('option:selected').val() == "skikart") {
                switchBgMap("skikart")
            }
            else if($(this).find('option:selected').val() == "topokart") {
                switchBgMap("topokart")
            }
            else if($(this).find('option:selected').val() == "veikart") {
                switchBgMap("veikart")
            }
            else if($(this).find('option:selected').val() == "kartverket") {
                switchBgMap("kartverket")
            }
            else {
                switchBgMap("satellitt")         
            }
        });


        $('#save-point-button').click(function () {
            var point = points[$('#current-point').val()];

            // Save metadata
            point.setTitle($('#point-title').val());
            point.setDescription($('#point-description').val());
            point.saveStyle();

            // Delete all old text
            $('#current-point').val(""); // Delete current line
            $('#point-title').val();
            $('#point-description').val();

            // Update map
            point.updateRendering(map);

            showMainSidebar();
            
        });

        $('#cancel-point-button').click(function () {
            showMainSidebar();
            $('#current-point').val(""); // Delete current point

            // Close popups
            map.closePopup();
        });

        
        $('#cancel-line-button').click(function () {
            showMainSidebar();
            $('#current-line').val(""); // Delete current line

            // Close popups
            map.closePopup();
        });

        // Draw
        var marker;
        $('#draw-point-button').click(function() {

            // Hide sidebar
            sidebar.hide()

            var emptyIcon = L.AwesomeMarkers.icon({
                  prefix: 'fa',
                  icon: 'map-marker', 
                  markerColor: 'blue'
            });

            marker = new L.Draw.Marker(map, {
                title: 'Add a marker',
                icon: emptyIcon
            });

            marker.addHooks();

            map.on('mousedown', function(e) {
                setTimeout('marker.removeHooks()', 200);
            });
        });

        // Draw
        var polyline;
        $('#draw-line-button').click(function() {

            // Hide sidebar
            sidebar.hide()

            polyline = new L.Draw.Polyline(map, drawControl.options.polyline);
            polyline.enable();

        });

        $('#deltur-button').click(function () { 
            // Create ids string
            var ids = "";
            $.each(lines, function(index, value) {
                var currentId = value.getId();
                if(ids=="")
                    ids = currentId;
                else
                    ids = ids + "+" + currentId;
            });

            $.each(points, function(index, value) {
                var currentId = value.getId();
                if(ids=="")
                    ids = currentId;
                else
                    ids = ids + "+" + currentId;
            });

            sendToTrip(ids) 

        });

        $('#embed-button').click(function () { 
            var ids = "";
            $.each(lines, function(index, value) {
                var currentId = value.getId();
                if(ids=="")
                    ids = currentId;
                else
                    ids = ids + "+" + currentId;
            });

            $.each(points, function(index, value) {
                var currentId = value.getId();
                if(ids=="")
                    ids = currentId;
                else
                    ids = ids + "+" + currentId;
            });

            $('#embedBody').html('<p>Kopier følgende kode for å legge til denne turen på din nettside:</p><pre>&lt;iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://beta.deltur.no/'+ids+'/'+$("#dropdown").find('option:selected').val()+'/embed">&lt;/iframe&gt;</pre>');

            // Open modal
            $('#embedModal').modal("show");
            sidebar.hide();

        });

        $('.closeEmbedModal').click(function() {
            sidebar.show();
        });




        /*
        **  Handler for draw point/line
        */

        map.on('draw:created', function (e) {
            doneWithPopup = false;
            var type = e.layerType;
            var newlayer = e.layer;
            //debugger;


            if (type === 'polyline') {


                // Disable drawing                
                polyline.disable();
            

                // Erase fields and Open modal
                $('#line-title').val("");
                $('#line-description').val("");
                $('#current-line').val("");

                showLineEditSidebar();

                // Create new line object
                var line = new delturLine();

                // Get line metadata
                fillInLineMetadata(line);

                // Convert line to geojson
                var coordinates = new Array();
                $.each(e.layer._latlngs, function(index, node) {
                    coordinates.push([node.lng, node.lat])
                });

                var geojson = [
                       {
                          "type": "LineString",
                          "coordinates": coordinates
                        }
                    ];


                // Init line
                var description = "";
                var title =  "";
                line.initWithGeo(geojson, title, description);

                // Save a reference to this line
                lines.push(line);

                // Make editable
                var currentPlaceInArray = lines.length-1;
                line.makeEditable(editLine, currentPlaceInArray);
                $('#current-line').val(currentPlaceInArray);

                // Check when the file is uploaded and render to map
                // and stop spinner
                var lineInterval = setInterval(function(){
                    if(line.getStatus() === 1) {
                        line.renderToMap(map);
                        map.fitBounds(line.getBounds().pad(0.1));

                        // Show sidebar
                        sidebar.show()


                        $('#deltur-button').attr('disabled', false); // Enable button
                        $('#embed-button').attr('disabled', false); // Enable button
                        
                        // Stop interval
                        clearInterval(lineInterval);
                    }
                },100);

            }
            else if (type === 'marker') {
                        
                // Erase fields 
                $('#point-title').val("");
                $('#point-description').val("");
                $('#current-point').val("");

                showPointEditSidebar();

                 // Create new line object
                var point = new delturPoint();

                // Get point metadata
                fillInPointMetadata(point);

                // Init point
                var url = "";
                var description = "";
                var title = "";

                point.init(e.layer._latlng.lat, e.layer._latlng.lng, title, description, url);

                // Save a reference to this line
                points.push(point);

                // Add a custom footer to popup
                var currentPlaceInArray = points.length-1;
                point.makeEditable(editPoint, currentPlaceInArray);

                // Remember for later use
                $('#current-point').val(currentPlaceInArray);
                

                var interval = setInterval(function(){
                    if(point.getStatus() === 1) {
                        point.renderToMap(map);

                        $('#current-line').val(currentPlaceInArray);

                        // Show sidebar
                        sidebar.show()


                        $('#deltur-button').attr('disabled', false); // Enable button
                        $('#embed-button').attr('disabled', false); // Enable button
                        
                        // Stop interval
                        clearInterval(interval);
                    }
                },100);
                
            }
                
        });




        
    </script>
</body>
</html>
