<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>deltur.no</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='img/favicon.png') }}' />
    

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.shutterstock.com/rickshaw/vendor/d3.v2.js"></script>
    <script src="{{ url_for('static', filename='js/lib/proj4s/proj4js-combined.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rickshaw.js') }}"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>

    
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
     <!-- CSS -->
    <!--link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css"-->
    <link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">
    <link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/detail.css">
    <link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/legend.css">
    <link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/examples/css/lines.css">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />


    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.3/leaflet-image.js'></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.3/leaflet-image.js'></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hint.min.css') }}">

   
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tur/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tur/custom.css') }}">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> 
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">  
    <script src="{{ url_for('static', filename='js/lib/leaflet.awesome-markers.js') }}"></script>                              
  
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40003995-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">

        jQuery(document).ready(function($) {
            // Mobile menu
            $("#mmenu").hide();
            $(".mtoggle").click(function() {
                $("#mmenu").slideToggle(500);
            });
        });

    </script>
  
  </head>
  
  

  <body>

    <div class="menu">
        <ul>
            {% if current_user.is_authenticated() %}
            
            <li><a href="{{ url_for('security.logout') }}?next={{request.path | urlencode}}">Logg ut</a></li>
            <li><a href="{{ url_for('adminIndex') }}">{{ current_user.email }}</a></li>
          {% else %}
           <li><a href="{{ url_for('security.login') }}?next={{request.path | urlencode}}"> Logg inn  <i class="fa fa-chevron-circle-right"></i></a>
            </li>
            <!--li><a href="{{ url_for('security.register') }}">Register</a></li-->
          {% endif %}
            
        </ul>
        <ul>
            <li><a href="{{ url_for('home') }}"> Del ny tur <i class="fa fa-share-square-o"></i></a>
            </li>
        </ul>
    </div>
    

    <nav id="mobile">
        <div id="toggle-bar">
            <div id="logo"><img id="logo" width="50" src="{{ url_for('static', filename='img/map_logo.png') }}"></div><strong><a class="mtoggle" href="#">deltur.no</a></strong>
            <a class="navicon mtoggle" href="#">MAIN MENU</a>
        </div>

        <ul id="mmenu">
            <li><a data-toggle="modal" href="#downloadModal">Last ned turen</a></li>
            <li><a data-toggle="modal" href="#embedModal">Embed-kode</a></li>
            <li><a href="javascript:void(0)">Del turen på</a>
                <ul>
                    <li><a href="javascript:void(0)" id="fb_share_mobile" target="_new">Facebook</a></li>
                    <li><a href="javascript:void(0)" id="tw_share_mobile" target="_new">Twitter</a></li>
                    <li><a href="javascript:void(0)" id="go_share_mobile" target="_new">Google+</a></li>
                    <li><a href="javascript:void(0)" id="mail_share_mobile" target="_new">E-post</a></li>
                </ul>
            </li>  
            <li><a href="http://deltur.no">Del ny tur</a></li>      
        </ul>
    </nav>


    <div id="termsModal" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <a class="close" data-dismiss="modal" >&times;</a>
                   <h3>deltur.no - Kartrettigheter</h3>
                 </div>
                 <div class="modal-body">
                  <p>
                      Turkompisen baserer seg hovedsakelig på data fra <a target="_blank" href="http://osm.org">© OpenStreetMap</a>.

                  <p>
                  </p>
                      I tillegg finner du data fra <a target="_blank" href="http://kartverket.no">© Kartverket</a> og <a target="_blank" href="http://skogoglandskap.no">Skog og landskap</a>. 
                  </p>
                          
                       
                  </div>  
                 <div class="modal-footer">
                   <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
               </div>
             </div>
          </div>
    </div>
      
      <div id="downloadModal" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Last ned turen</h3>
                </div>
                <div class="modal-body">
                  <p id="placeDownload">
                      Steder: &nbsp;&nbsp;
                      <select id="placeSelect" class="input-small"></select>
                      &nbsp;&nbsp;&nbsp;&nbsp;<select id="placeDownloadType" class="input-small"><option>GPX</option><option>GeoJSON</option><option>OSM</option><option>CSV</option><option>KML</option></select>
                      &nbsp;&nbsp;&nbsp;<button id="downloadPlaceButton" class="btn btn-success" type="button">Last ned</button>
                  </p>
                  <p id="tripDownload">
                      Turer: &nbsp;&nbsp;&nbsp;&nbsp;
                      <select id="tripSelect" class="input-small"></select>
                      &nbsp;&nbsp;&nbsp;&nbsp;<select id="tripDownloadType" class="input-small"><option>GPX</option><option>GeoJSON</option><option>OSM</option><option>CSV</option><option>KML</option></select>
                      &nbsp;&nbsp;&nbsp;<button id="downloadTripButton" class="btn btn-success" type="button">Last ned</button>
                  </p>
                  <p>
                      Denne turen er satt sammen av turer og steder. Du kan sjøl velge formatet du ønsker å laste ned dataene i. 
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
              </div>
              </div>
          </div>
      </div>
      
    <div id="embedModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Embed</h3>
                </div>
                <div class="modal-body">
                  <p>Kopier følgende kode for å legge til denne turen på din nettside:</p>
        <pre>&lt;iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://beta.deltur.no/{{idList}}/embed">&lt;/iframe&gt;</pre>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
                </div>
            </div>
        </div>
    </div>

    <div id="imgModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Rasterkart</h3>
                </div>
                <div class="modal-body">
                   <div id='imgDownload'></div>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal" >Lukk</a>
                </div>
            </div>
        </div>
    </div>
      
      
      
      
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
        
    <!--div class="hidden-xs">
        <a style="margin:10px;" id="button-turkart" class="btn btn-custom" href="{{ url_for('home') }}"><i class="fa fa-share-square-o"></i> Del ny tur</a>
    </div-->

      <!-- Begin page content -->
      <div class="container">
        <div class="hidden-xs" style="float:left;">
            <span class="hint--top" data-hint="Last ned denne turen">
              <a id="downloadButton" style="text-decoration: none;" data-toggle="modal" href="#downloadModal"><i class="fa fa-arrow-down"></a></i>&nbsp;
            </span>
            <span class="hint--top" data-hint="Legg kartet på eget nettsted">
                <a id="embedButton" style="text-decoration: none;" data-toggle="modal" href="#embedModal"><i class="fa fa-map-marker"></a></i>&nbsp;
            </span>
            <!--span class="hint--top" data-hint="Legg ned kartet som et bilde">
                <a onClick="createImg()" id="embedButton" style="text-decoration: none;" data-toggle="modal" href="javacript:void(0)"><i class="fa fa-picture-o"></a></i>&nbsp;
            </span-->
        </div>


          <b  style="color:F8F8F8;font-size: 18px;">{{title}}</b>
          
            <div style="font-size: 17px;" class="pull-right hidden-xs">
                 <span class="hint--top" data-hint="Del på Facebook">
                     <a id="fb_share" name="fb_share" style="text-decoration: none;" href="https://www.facebook.com/sharer/sharer.php?u=http://deltur.no/{{idList}}" target="_new">
                         <i class="fa fa-facebook"></i>&nbsp;
                     </a>
                 </span>
                 <span class="hint--top" data-hint="Del på Twitter">
                     <a id="tw_share" style="text-decoration: none;" href="https://twitter.com/intent/tweet?url=http://deltur.no/{{idList}}" target="_new">
                         <i class="fa fa-twitter"></i>&nbsp;
                     </a>
                 </span>
                 <span class="hint--top" data-hint="Del på Google+">
                     <a id="go_share"  style="text-decoration: none;" href="https://plus.google.com/share?url=http://deltur.no/{{idList}}"  target="_new">
                         <i class="fa fa-google-plus"></i>&nbsp;
                     </a>
                 </span>
                 <span class="hint--top" data-hint="Del på e-post">
                     <a id="mail_share" style="text-decoration: none;" href="mailto:?Subject=Se min tur&body=http://deltur.no/{{idList}}">
                         <i class="fa fa-envelope "></i>
                     </a>
                 </span>
            </div>

        <br>
        
        <div id="map">
            <a id="cartodb_logo" style="position:absolute; bottom:4px; left:4px; display:block; z-index:10000;" href="http://deltur.no" target="_blank">
            <img title="deltur.no" width="50" alt="deltur.no" style="outline: medium none; border: medium none;" src="{{ url_for('static', filename='img/map_logo.png') }}">
            </a>
        </div>
        
        <br>
        
        <div id="chart_container">
            <div id="y_axis"></div>
            <div id="chart"></div>
            <div id="legend_container">
                <div id="smoother" title="Smoothing"></div>
                <div id="legend"></div>
            </div>
            <div id="slider"></div>
        </div>
        
        <div style="color:F8F8F8; font-size: 12px;">
            Utviklet av <a href="http://www.kresendo.no">kresendo.no</a>
        </div>  
      </div>
      
      

      <!--div id="push"></div>
    </div>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script-->

     <script type="text/javascript">

        // Set up dynamic variables used in delturMap.js
        var tileJsonSkikart = '{{ url_for('static', filename='mapconfig/skikart.json') }}';
        var tileJsonSkikartHighdef = '{{ url_for('static', filename='mapconfig/skikart_highdef.json') }}';
        var tileJsonTurkart = '{{ url_for('static', filename='mapconfig/turkart.json') }}';
        var tileJsonTurkartHighdef = '{{ url_for('static', filename='mapconfig/turkart_highdef.json') }}';
        var tileJsonTopokart = '{{ url_for('static', filename='mapconfig/topokart.json') }}';
        var tileJsonTopokartHighdef = '{{ url_for('static', filename='mapconfig/topokart_highdef.json') }}';

    </script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/delturPoint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delturLine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delturMap.js') }}"></script>

    <script type="text/javascript">

    
        $.fn.preload = function() {
            this.each(function(){
                $('<img/>')[0].src = this;
            });
        }
    
        
        var lines = new Array();
        var points = new Array();

        // Events
        //map.on('load', onLoadMap);
        map.on('viewreset', onLoadMap);

        function onLoadMap() {
            if(numMarkers == 1)
                imgMarker.openPopup();
        }

        
        // Add map used in URL
        if({{mapType}}==0) {
            map.addLayer(turkart);
        }
        else if({{mapType}}==1) {
            map.addLayer(skikart);
        }
        else if({{mapType}}==2) {
            map.addLayer(veikart);
        }
        else if({{mapType}}==3) {
            map.addLayer(topokart);
        }
        else if({{mapType}}==4) {
            map.addLayer(satellite);
        }
        else if({{mapType}}==5) {
            map.addLayer(kartverket);
        }
            

        // Get list of ids and split to array
        var idLists = {{idList}};
        var ids = "{{idList}}".split("+");


        {% if current_user.is_authenticated() %}
            var hash;
            // Automatically create a hash if more than one id
            if(ids.length>1) {
                $.getJSON( "/hash/" + "{{idList}}" , function( json ) {
                    hash = json.hash;
                });
            }
        {% endif %}
        
        
        
        var geoObject;
        var markerGroup = new L.LayerGroup(); // Holds hover for graph
        var numLines = 0; var lineFeature;
        
        var featureBounds = new L.LatLngBounds();
        var imgMarker;
        var numMarkers = 0;
            
        // Loop through ids and draw on map    
        $.each(ids, function(index, value) {
            var id = value;
          
            
            $.getJSON('/'+id+'/geojson', function (data) {
                geoObject = [data];
                
                var line = true;
                if(data.type=="Point") {
                    line = false;
                }
                
                map.addLayer(markerGroup);
                var marker;
                if(line) { // Line

                    // Create new line object
                    var line = new delturLine();

                    // Save a reference to this line
                    lines.push(line);

                    // Init line
                    line.initWithId(id);

                    // Check when the line is ready for use
                    var interval = setInterval(function(){
                        if(line.getStatus() === 1) {
                            line.renderToMap(map);
                            featureBounds.extend(line.getBounds());
                            map.fitBounds(featureBounds.pad(0.1));
                            
                            // Stop interval
                            clearInterval(interval);
                        }
                    },100);

                    
                    // Add to select box for download
                    $('#tripDownload').show()
                    $('#tripSelect')
                             .append($("<option></option>")
                             .attr("value",id)
                             .text(id)); 
                    
                    numLines++;

                    // Add hover feature to line
                    //line.addHover(markerGroup);

                    
                }
                else { // Point

                    // Create new line object
                    var point = new delturPoint();

                    // Save a reference to this line
                    points.push(point);

                    // Init line
                    point.initWithId(id);

                    // Check when the point is ready for use
                    var interval = setInterval(function(){
                        if(point.getStatus() === 1) {
                            point.renderToMap(map);
                            featureBounds.extend(point.getPoint());
                            map.fitBounds(featureBounds.pad(0.1));
                            
                            // Stop interval
                            clearInterval(interval);
                        }
                    },100);


                    
                    // Add to select box for download
                    $('#placeDownload').show()
                    $('#placeSelect')
                             .append($("<option></option>")
                             .attr("value",id)
                             .text(id)); 
                    
                }
                    
                

                if(numLines==1) {
                    // Request elevation profile
                    // TODO: Remove when only point
            
                    $.ajax({
                          url: "/elev/elevationprofile.json",
                          dataType: 'json',
                          type: 'post',
                          contentType: "application/json",
                          data: JSON.stringify(lines[0].getGeom()),
                          success: setElevationProfile
                    });
            
           
            
                }
                
                // TODO: Rewrite
                setTimeout(function() {

                    // Mobile map height
                    var bodyHeight = $('body').height();
                    var menuHeight = $('#mobile').height();
                    var elevProfileHeight; // = $('#chart_container').height();
                    if(numLines==0) {elevProfileHeight = 0} else {elevProfileHeight = 100}
                        
                     
                    $('#map').height(bodyHeight-menuHeight-elevProfileHeight-70);
                    map.invalidateSize(true);

                    
                    /*setTimeout(function() {
                        map.zoomOut();
                        if(numLines==0 && map.getZoom() > 11) {
                                map.setZoom(11);
                        }   
                    
                    },300);*/
                    
                },300);

            });
        
        });

        
    
    
   
    var graphData = new Array();
    function setElevationProfile(data) {
        // Get features    
        geoJson = data.features;
               
        // Go through each point
        $.each(data.features, function(index, value) { 
            elev = value.properties.elev;
            // Check for negative values. The graph does not draw null values
            if(elev < 0) { 
                elev = null;
            }
            tmp = {x:parseFloat(value.properties.distance), y:parseFloat(elev)};
            graphData.push(tmp);
        });
        
        
        // instantiate our graph!

        var graph = new Rickshaw.Graph( {
            element: document.getElementById("chart"),
            width: $('.container').width(),
            height: 100,
            renderer: 'area',
            min: 'auto',
            series: [
                {
                    color: "#F8F8F8",
                    data: graphData,
                    name: 'elevation'
                }
            ]
        } );
    
        /*
        var y_ticks = new Rickshaw.Graph.Axis.Y( {
            graph: graph,
            orientation: 'left',
            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
            element: document.getElementById('y_axis'),
        } );
        */

        graph.render();

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: graph,
            formatter: function(series, x, y) {
                var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
                var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
                var km = parseInt(x)/1000;
                var content =  "Meter over havet: " + parseInt(y) + '<br>' + "Antall km: "+ km +"km";
                
                for(i=0; i<geoJson.length; i++) {
                    if(parseFloat(geoJson[i].properties.distance) == x) {
                        
                        markerGroup.clearLayers(); 
                        
                        var source = new Proj4js.Proj('EPSG:900913');    //source coordinates will be in Longitude/Latitude
                        var dest = new Proj4js.Proj('EPSG:4326');     //destination coordinates in LCC, south of France
                        var p = new Proj4js.Point(geoJson[i].geometry.coordinates[0], geoJson[i].geometry.coordinates[1]);  
                        Proj4js.transform(source, dest, p);      //do the transformation.  x and y are modified in place
                    
                        var latlng = new L.LatLng(p.y, p.x);
                        marker = new L.CircleMarker(latlng);
                        markerGroup.addLayer(marker);
                    }
                }
        
                return content;
        
            }
        } );
    }

    
    $('#downloadTripButton').click(function() {
        downloadTrip()    
    });
    
    function downloadTrip() {
        //console.log("Download trip");
        var id = $("#tripSelect option:selected").text();
        var type = $("#tripDownloadType option:selected").text().toLowerCase();
        window.open("/" + id + "/" + type);
    }
    
    $('#downloadPlaceButton').click(function() {
        //console.log("Download place");
        var id = $("#placeSelect option:selected").text();
        var type = $("#placeDownloadType option:selected").text().toLowerCase();
        window.open("/" + id + "/" + type);
    });

    // Create image of map
    function createImg() {
      leafletImage(map, doImage);
    }

    // Callback for createing image
    function doImage(err, canvas) {
        var img = document.createElement('img');
        var dimensions = map.getSize();
        img.width = dimensions.x;
        img.height = dimensions.y;
        img.src = canvas.toDataURL();
        document.getElementById('imgDownload').innerHTML = '';
        document.getElementById('imgDownload').appendChild(img);
        $('#imgModal').modal('show');
    }

    
    
    // FIX LINKS TO SOSIAL NETWORKS
    var link = $("#fb_share").attr("href");
    var encodedLink = link.split('+').join("%2B"); 
    $("#fb_share").attr("href", encodedLink);
    $("#fb_share_mobile").attr("href", encodedLink);
    
    var link = $("#tw_share").attr("href");
    var encodedLink = link.split('+').join("%2B");
    $("#tw_share").attr("href", encodedLink);
    $("#tw_share_mobile").attr("href", encodedLink);

    var link = $("#go_share").attr("href");
    var encodedLink = link.split('+').join("%2B"); 
    $("#go_share").attr("href", encodedLink);
    $("#go_share_mobile").attr("href", encodedLink);

    var link = $("#mail_share").attr("href");
    var encodedLink = link.split('+').join("%2B"); 
    $("#mail_share").attr("href", encodedLink);
    $("#mail_share_mobile").attr("href", encodedLink);
    </script>

</html>
